<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>  
    <add key="ConnectionString" value="server=DESKTOP-AO9PA5O\EXPRESS;database=LogDB;uid=sa;password=Dario2323;"/>  
    <add key="LogFileDirectory" value="D:\\"/>  
  </appSettings>  
</configuration>